.header{
    text-align: center;
    background: yellow;
    margin: 0px;
    

}
a{
    text-decoration: none;
    padding:10px;
    margin-top: 0px;
}

*{
    margin: 0px;
    padding: 0px;
}
body{
    font-size: 1em;
    font-family: "Trebuchet MD", Helvetica, sans-serif;
    background: #e6e6ee;
}
#header{
    width: 920;
    background: #f7b600;
    padding: 15px;
    text-align: center;
}
.titulo,.button{
    padding: 10px;
}

h1{
    color: #4e4e4e;
    font-size: 2.5em;
}
.branco{
    color: white;
}
a{
    text-decoration: none;
}
#header a:link,a:visited{
    color: #fff;
    padding: 8px 15px;
}
#header a:hover{
    background: #fff;
    color: #f7b600;
    
}
#conteudo{
    background: white;
    width: 650px;
    margin: 10px auto ;
    clear: both;
}
.area-postagem{
    width: 430px;
    float: left;
    
}
.postagem1{
    border: 1px;
    background: white;
    padding: 10px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
h2{
    color: #f7b600;
}
.data-postagem{
    font-size: 0.8em;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border: 1px #f4f4f4;
    display: block;
}
.postagem1 a{
    color: #f7b600;
    float: left;

}
.postagem1 a:link,a:visited{
}
.postagem1 a:hover{
    text-decoration: underline;
}
.postagem2  a{
    color: #f7b600;
    float: left;
}
.postagem2 a:hover{
    text-decoration: underline;
}
#footer{
    margin: 30px 0px 0px 0px;
    background: #ccc;
    padding: 15px;
    text-align: center;
    clear: both;
}
.area-lateral{
    width: 200px;
    background: white;
    float: right;
    margin-bottom: 20px;
    padding: 8px;
}
.area-lateral a{
    color: #f7b600;
}
.area-lateral a:hover{
    text-decoration: underline;
}
h3{
    color: #565656;
    background: #ccc;
    padding: 5px;
}